USE [master]
GO
/****** Object:  Database [IMS]    Script Date: 13-12-2018 08:56:05 ******/
CREATE DATABASE [IMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\IMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\IMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMS]
GO
/****** Object:  Table [dbo].[GRP]    Script Date: 13-12-2018 08:56:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRP](
	[GRP_ID] [smallint] NOT NULL,
	[GRP_NAME] [varchar](30) NOT NULL,
	[INS_DT] [date] NOT NULL,
	[UPD_TS] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INC_DTL]    Script Date: 13-12-2018 08:56:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INC_DTL](
	[INC_ID] [smallint] NOT NULL,
	[INC_SUMMARY] [varchar](50) NOT NULL,
	[INC_DESC] [varchar](1000) NOT NULL,
	[INC_CREATED] [datetime] NOT NULL,
	[INC_CLOSED] [datetime] NOT NULL,
	[CONFIG_ITM_ID] [smallint] NOT NULL,
	[USR_ID] [smallint] NOT NULL,
	[GRP_ID] [smallint] NOT NULL,
	[PRTY_ID] [smallint] NOT NULL,
	[STS_ID] [smallint] NOT NULL,
	[ACTIVE] [varchar](3) NOT NULL,
	[ISSUE_CAT_ID] [smallint] NOT NULL,
	[INC_RESOLUTION] [varchar](1000) NOT NULL,
	[INS_DT] [date] NOT NULL,
	[UPD_TS] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INC_PRIORITY]    Script Date: 13-12-2018 08:56:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INC_PRIORITY](
	[PRTY_ID] [smallint] NOT NULL,
	[PRTY_CD] [varchar](3) NOT NULL,
	[SLA_ID] [smallint] NOT NULL,
	[PRTY_DESC] [varchar](20) NOT NULL,
	[INS_DT] [date] NOT NULL,
	[UPD_TS] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONFIG_ITM]    Script Date: 13-12-2018 08:56:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIG_ITM](
	[CONFIG_ITM_ID] [smallint] NOT NULL,
	[CONFIG_ITM_NAME] [varchar](10) NOT NULL,
	[CONFIG_ITM_DESC] [varchar](100) NOT NULL,
	[APP_ID] [smallint] NOT NULL,
	[INS_DT] [date] NOT NULL,
	[UPD_TS] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USR]    Script Date: 13-12-2018 08:56:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USR](
	[USR_ID] [smallint] NOT NULL,
	[USR_FIRST_NAME] [varchar](100) NOT NULL,
	[USR_LAST_NAME] [varchar](100) NOT NULL,
	[USR_STS] [char](1) NOT NULL,
	[GRP_ID] [smallint] NOT NULL,
	[APP_ID] [smallint] NOT NULL,
	[INS_DT] [date] NOT NULL,
	[UPD_TS] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INC_STS]    Script Date: 13-12-2018 08:56:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INC_STS](
	[STS_ID] [smallint] NOT NULL,
	[STS_DESC] [varchar](15) NOT NULL,
	[INS_DT] [date] NOT NULL,
	[UPD_TS] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ISSUE_CATEGORY]    Script Date: 13-12-2018 08:56:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ISSUE_CATEGORY](
	[ISSUE_CAT_ID] [smallint] NOT NULL,
	[ISSUE_CATEGORY] [varchar](30) NOT NULL,
	[INS_DT] [date] NOT NULL,
	[UPD_TS] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwINCIDENT_DETAILS]    Script Date: 13-12-2018 08:56:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vwINCIDENT_DETAILS]
AS
SELECT SRC.INC_ID, 
       SRC.INC_SUMMARY,
	   SRC.INC_DESC, 
	   SRC.INC_CREATED, 
	   SRC.INC_CLOSED,
	   CI.CONFIG_ITM_DESC,
	   CONCAT(USR.USR_LAST_NAME, ',',USR.USR_FIRST_NAME) AS ASSIGNEE,
	   IPRTY.PRTY_DESC,
	   ISTS.STS_DESC,
	   GRP.GRP_NAME,
	   ACTIVE,
	   ISCAT.ISSUE_CATEGORY,
	   SRC.INC_RESOLUTION
FROM DBO.INC_DTL SRC
LEFT JOIN DBO.CONFIG_ITM CI ON SRC.CONFIG_ITM_ID = CI.CONFIG_ITM_ID
LEFT JOIN DBO.USR USR ON SRC.USR_ID = USR.USR_ID
LEFT JOIN DBO.GRP GRP ON SRC.GRP_ID = GRP.GRP_ID
LEFT JOIN DBO.INC_PRIORITY IPRTY ON SRC.PRTY_ID = IPRTY.PRTY_ID
LEFT JOIN DBO.INC_STS ISTS ON SRC.STS_ID = ISTS.STS_ID
LEFT JOIN DBO.ISSUE_CATEGORY ISCAT ON SRC.ISSUE_CAT_ID = ISCAT.ISSUE_CAT_ID;
GO
/****** Object:  Table [dbo].[APP]    Script Date: 13-12-2018 08:56:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP](
	[APP_ID] [smallint] NOT NULL,
	[APP_NME] [varchar](100) NOT NULL,
	[INS_DT] [date] NOT NULL,
	[UPD_TS] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INC_SLA]    Script Date: 13-12-2018 08:56:05 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INC_SLA](
	[SLA_ID] [smallint] NOT NULL,
	[SLA_LIMIT] [varchar](20) NOT NULL,
	[INS_DT] [date] NOT NULL,
	[UPD_TS] [datetime] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[APP] ([APP_ID], [APP_NME], [INS_DT], [UPD_TS]) VALUES (1, N'Warranty Customer Care', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-11T19:03:35.373' AS DateTime))
INSERT [dbo].[APP] ([APP_ID], [APP_NME], [INS_DT], [UPD_TS]) VALUES (2, N'Sales Analysis Reporting', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-11T19:03:35.373' AS DateTime))
INSERT [dbo].[APP] ([APP_ID], [APP_NME], [INS_DT], [UPD_TS]) VALUES (3, N'Quality Care Rewards', CAST(N'2018-12-11' AS Date), CAST(N'2018-12-11T19:03:35.373' AS DateTime))
INSERT [dbo].[CONFIG_ITM] ([CONFIG_ITM_ID], [CONFIG_ITM_NAME], [CONFIG_ITM_DESC], [APP_ID], [INS_DT], [UPD_TS]) VALUES (1, N'WCCX01', N'FTP Warranty Claims Files', 1, CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:10:05.647' AS DateTime))
INSERT [dbo].[CONFIG_ITM] ([CONFIG_ITM_ID], [CONFIG_ITM_NAME], [CONFIG_ITM_DESC], [APP_ID], [INS_DT], [UPD_TS]) VALUES (3, N'WCCX03', N'Load Warranty Mart tables', 1, CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:11:34.890' AS DateTime))
INSERT [dbo].[CONFIG_ITM] ([CONFIG_ITM_ID], [CONFIG_ITM_NAME], [CONFIG_ITM_DESC], [APP_ID], [INS_DT], [UPD_TS]) VALUES (2, N'WCCX02', N'Load Warranty Mart Stage tables', 1, CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:09:09.247' AS DateTime))
INSERT [dbo].[GRP] ([GRP_ID], [GRP_NAME], [INS_DT], [UPD_TS]) VALUES (1, N'APPLICATION SUPPORT GRP', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:35:50.023' AS DateTime))
INSERT [dbo].[GRP] ([GRP_ID], [GRP_NAME], [INS_DT], [UPD_TS]) VALUES (2, N'Product Management', CAST(N'2018-12-11' AS Date), CAST(N'2018-12-11T19:39:26.417' AS DateTime))
INSERT [dbo].[GRP] ([GRP_ID], [GRP_NAME], [INS_DT], [UPD_TS]) VALUES (3, N'Testing Team', CAST(N'2018-12-11' AS Date), CAST(N'2018-12-11T19:39:41.627' AS DateTime))
INSERT [dbo].[INC_DTL] ([INC_ID], [INC_SUMMARY], [INC_DESC], [INC_CREATED], [INC_CLOSED], [CONFIG_ITM_ID], [USR_ID], [GRP_ID], [PRTY_ID], [STS_ID], [ACTIVE], [ISSUE_CAT_ID], [INC_RESOLUTION], [INS_DT], [UPD_TS]) VALUES (1001, N'Batch Job Failure', N'WCCX001 Job Aborted, Source file not found', CAST(N'2018-12-09T01:45:36.260' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), 1, 111, 0, 2, 1, N'YES', 4, N'Communicated with Mainframe Team, Restarted the Job', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:45:36.263' AS DateTime))
INSERT [dbo].[INC_DTL] ([INC_ID], [INC_SUMMARY], [INC_DESC], [INC_CREATED], [INC_CLOSED], [CONFIG_ITM_ID], [USR_ID], [GRP_ID], [PRTY_ID], [STS_ID], [ACTIVE], [ISSUE_CAT_ID], [INC_RESOLUTION], [INS_DT], [UPD_TS]) VALUES (1002, N'Misisng some claims', N'Issue with claims eligibility fucntionality', CAST(N'2018-12-10T19:57:36.510' AS DateTime), CAST(N'9999-01-01T00:00:00.000' AS DateTime), 2, 0, 1, 3, 1, N'YES', 0, N'', CAST(N'2018-12-10' AS Date), CAST(N'2018-12-10T19:57:36.510' AS DateTime))
INSERT [dbo].[INC_DTL] ([INC_ID], [INC_SUMMARY], [INC_DESC], [INC_CREATED], [INC_CLOSED], [CONFIG_ITM_ID], [USR_ID], [GRP_ID], [PRTY_ID], [STS_ID], [ACTIVE], [ISSUE_CAT_ID], [INC_RESOLUTION], [INS_DT], [UPD_TS]) VALUES (1003, N'Misisng some claims', N'Issue with claims eligibility fucntionality', CAST(N'2018-12-11T00:50:49.920' AS DateTime), CAST(N'2018-12-13T02:44:49.057' AS DateTime), 1, 0, 1, 1, 4, N'YES', 0, N'', CAST(N'2018-12-11' AS Date), CAST(N'2018-12-11T00:50:49.920' AS DateTime))
INSERT [dbo].[INC_PRIORITY] ([PRTY_ID], [PRTY_CD], [SLA_ID], [PRTY_DESC], [INS_DT], [UPD_TS]) VALUES (1, N'P1', 1, N'High', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:14:42.453' AS DateTime))
INSERT [dbo].[INC_PRIORITY] ([PRTY_ID], [PRTY_CD], [SLA_ID], [PRTY_DESC], [INS_DT], [UPD_TS]) VALUES (2, N'P2', 2, N'Medium', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:15:02.543' AS DateTime))
INSERT [dbo].[INC_PRIORITY] ([PRTY_ID], [PRTY_CD], [SLA_ID], [PRTY_DESC], [INS_DT], [UPD_TS]) VALUES (3, N'P3', 3, N'Low', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:15:17.810' AS DateTime))
INSERT [dbo].[INC_SLA] ([SLA_ID], [SLA_LIMIT], [INS_DT], [UPD_TS]) VALUES (1, N'4 Hours', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:22:53.447' AS DateTime))
INSERT [dbo].[INC_SLA] ([SLA_ID], [SLA_LIMIT], [INS_DT], [UPD_TS]) VALUES (2, N'8 Hours', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:23:01.153' AS DateTime))
INSERT [dbo].[INC_SLA] ([SLA_ID], [SLA_LIMIT], [INS_DT], [UPD_TS]) VALUES (3, N'24 Hours', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:23:10.890' AS DateTime))
INSERT [dbo].[INC_STS] ([STS_ID], [STS_DESC], [INS_DT], [UPD_TS]) VALUES (1, N'OPEN', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:27:29.717' AS DateTime))
INSERT [dbo].[INC_STS] ([STS_ID], [STS_DESC], [INS_DT], [UPD_TS]) VALUES (2, N'IN PROGRESS', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:27:54.120' AS DateTime))
INSERT [dbo].[INC_STS] ([STS_ID], [STS_DESC], [INS_DT], [UPD_TS]) VALUES (3, N'HOLD', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:28:12.540' AS DateTime))
INSERT [dbo].[ISSUE_CATEGORY] ([ISSUE_CAT_ID], [ISSUE_CATEGORY], [INS_DT], [UPD_TS]) VALUES (1, N'DATABASE SPACE ISSUE', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:31:20.450' AS DateTime))
INSERT [dbo].[ISSUE_CATEGORY] ([ISSUE_CAT_ID], [ISSUE_CATEGORY], [INS_DT], [UPD_TS]) VALUES (2, N'MOUNT SPACE FULL', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:31:51.607' AS DateTime))
INSERT [dbo].[ISSUE_CATEGORY] ([ISSUE_CAT_ID], [ISSUE_CATEGORY], [INS_DT], [UPD_TS]) VALUES (3, N'DATABASE CONNECTION PROBLEM', CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T01:32:33.747' AS DateTime))
INSERT [dbo].[USR] ([USR_ID], [USR_FIRST_NAME], [USR_LAST_NAME], [USR_STS], [GRP_ID], [APP_ID], [INS_DT], [UPD_TS]) VALUES (1001, N'Joel', N'Olsen', N'Y', 4, 2, CAST(N'2018-12-09' AS Date), CAST(N'2018-12-09T12:38:13.060' AS DateTime))
INSERT [dbo].[USR] ([USR_ID], [USR_FIRST_NAME], [USR_LAST_NAME], [USR_STS], [GRP_ID], [APP_ID], [INS_DT], [UPD_TS]) VALUES (1003, N'Ashish', N'Kumar', N'Y', 5, 1, CAST(N'2018-12-11' AS Date), CAST(N'2018-12-11T01:24:35.210' AS DateTime))
INSERT [dbo].[USR] ([USR_ID], [USR_FIRST_NAME], [USR_LAST_NAME], [USR_STS], [GRP_ID], [APP_ID], [INS_DT], [UPD_TS]) VALUES (1006, N'Amit', N'Kumar', N'Y', 1, 1, CAST(N'1900-01-01' AS Date), CAST(N'1900-01-01T00:00:00.000' AS DateTime))
/****** Object:  Index [PK__APP__F00E5805D5035174]    Script Date: 13-12-2018 08:56:05 ******/
ALTER TABLE [dbo].[APP] ADD PRIMARY KEY NONCLUSTERED 
(
	[APP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK__CONFIG_I__F35D29099B6406CB]    Script Date: 13-12-2018 08:56:05 ******/
ALTER TABLE [dbo].[CONFIG_ITM] ADD PRIMARY KEY NONCLUSTERED 
(
	[CONFIG_ITM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK__GRP__38033FBE7042D00D]    Script Date: 13-12-2018 08:56:05 ******/
ALTER TABLE [dbo].[GRP] ADD PRIMARY KEY NONCLUSTERED 
(
	[GRP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK__INC_DTL__EA26684747AA8760]    Script Date: 13-12-2018 08:56:05 ******/
ALTER TABLE [dbo].[INC_DTL] ADD PRIMARY KEY NONCLUSTERED 
(
	[INC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK__INC_PRIO__CDC4C2DFD51FC2C2]    Script Date: 13-12-2018 08:56:05 ******/
ALTER TABLE [dbo].[INC_PRIORITY] ADD PRIMARY KEY NONCLUSTERED 
(
	[PRTY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK__INC_SLA__4E147153B4254290]    Script Date: 13-12-2018 08:56:05 ******/
ALTER TABLE [dbo].[INC_SLA] ADD PRIMARY KEY NONCLUSTERED 
(
	[SLA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK__INC_STS__D93FFEBBE708204D]    Script Date: 13-12-2018 08:56:05 ******/
ALTER TABLE [dbo].[INC_STS] ADD PRIMARY KEY NONCLUSTERED 
(
	[STS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK__ISSUE_CA__536C5C235FA2501A]    Script Date: 13-12-2018 08:56:05 ******/
ALTER TABLE [dbo].[ISSUE_CATEGORY] ADD PRIMARY KEY NONCLUSTERED 
(
	[ISSUE_CAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK__USR__725E118CB0516E4C]    Script Date: 13-12-2018 08:56:05 ******/
ALTER TABLE [dbo].[USR] ADD PRIMARY KEY NONCLUSTERED 
(
	[USR_ID] ASC,
	[GRP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APP] ADD  DEFAULT (getdate()) FOR [INS_DT]
GO
ALTER TABLE [dbo].[APP] ADD  DEFAULT (sysdatetime()) FOR [UPD_TS]
GO
ALTER TABLE [dbo].[CONFIG_ITM] ADD  DEFAULT (getdate()) FOR [INS_DT]
GO
ALTER TABLE [dbo].[CONFIG_ITM] ADD  DEFAULT (sysdatetime()) FOR [UPD_TS]
GO
ALTER TABLE [dbo].[GRP] ADD  DEFAULT (getdate()) FOR [INS_DT]
GO
ALTER TABLE [dbo].[GRP] ADD  DEFAULT (sysdatetime()) FOR [UPD_TS]
GO
ALTER TABLE [dbo].[INC_DTL] ADD  DEFAULT (getdate()) FOR [INS_DT]
GO
ALTER TABLE [dbo].[INC_DTL] ADD  DEFAULT (sysdatetime()) FOR [UPD_TS]
GO
ALTER TABLE [dbo].[INC_PRIORITY] ADD  DEFAULT (getdate()) FOR [INS_DT]
GO
ALTER TABLE [dbo].[INC_PRIORITY] ADD  DEFAULT (sysdatetime()) FOR [UPD_TS]
GO
ALTER TABLE [dbo].[INC_SLA] ADD  DEFAULT (getdate()) FOR [INS_DT]
GO
ALTER TABLE [dbo].[INC_SLA] ADD  DEFAULT (sysdatetime()) FOR [UPD_TS]
GO
ALTER TABLE [dbo].[INC_STS] ADD  DEFAULT (getdate()) FOR [INS_DT]
GO
ALTER TABLE [dbo].[INC_STS] ADD  DEFAULT (sysdatetime()) FOR [UPD_TS]
GO
ALTER TABLE [dbo].[ISSUE_CATEGORY] ADD  DEFAULT (getdate()) FOR [INS_DT]
GO
ALTER TABLE [dbo].[ISSUE_CATEGORY] ADD  DEFAULT (sysdatetime()) FOR [UPD_TS]
GO
ALTER TABLE [dbo].[USR] ADD  DEFAULT (getdate()) FOR [INS_DT]
GO
ALTER TABLE [dbo].[USR] ADD  DEFAULT (sysdatetime()) FOR [UPD_TS]
GO
ALTER TABLE [dbo].[CONFIG_ITM]  WITH CHECK ADD  CONSTRAINT [FK_CONFIG_ITM_APP] FOREIGN KEY([APP_ID])
REFERENCES [dbo].[APP] ([APP_ID])
GO
ALTER TABLE [dbo].[CONFIG_ITM] CHECK CONSTRAINT [FK_CONFIG_ITM_APP]
GO
ALTER TABLE [dbo].[GRP]  WITH CHECK ADD  CONSTRAINT [FK_USR_GRP] FOREIGN KEY([GRP_ID])
REFERENCES [dbo].[GRP] ([GRP_ID])
GO
ALTER TABLE [dbo].[GRP] CHECK CONSTRAINT [FK_USR_GRP]
GO
ALTER TABLE [dbo].[INC_DTL]  WITH CHECK ADD  CONSTRAINT [FK_INC_DTL_CONFIG_ITM] FOREIGN KEY([CONFIG_ITM_ID])
REFERENCES [dbo].[CONFIG_ITM] ([CONFIG_ITM_ID])
GO
ALTER TABLE [dbo].[INC_DTL] CHECK CONSTRAINT [FK_INC_DTL_CONFIG_ITM]
GO
ALTER TABLE [dbo].[INC_DTL]  WITH CHECK ADD  CONSTRAINT [FK_INC_DTL_INC_PRIORITY] FOREIGN KEY([PRTY_ID])
REFERENCES [dbo].[INC_PRIORITY] ([PRTY_ID])
GO
ALTER TABLE [dbo].[INC_DTL] CHECK CONSTRAINT [FK_INC_DTL_INC_PRIORITY]
GO
ALTER TABLE [dbo].[INC_DTL]  WITH CHECK ADD  CONSTRAINT [FK_INC_DTL_INC_STS] FOREIGN KEY([STS_ID])
REFERENCES [dbo].[INC_STS] ([STS_ID])
GO
ALTER TABLE [dbo].[INC_DTL] CHECK CONSTRAINT [FK_INC_DTL_INC_STS]
GO
ALTER TABLE [dbo].[INC_PRIORITY]  WITH CHECK ADD  CONSTRAINT [FK_INC_PRIORITY_INC_SLA] FOREIGN KEY([SLA_ID])
REFERENCES [dbo].[INC_SLA] ([SLA_ID])
GO
ALTER TABLE [dbo].[INC_PRIORITY] CHECK CONSTRAINT [FK_INC_PRIORITY_INC_SLA]
GO
ALTER TABLE [dbo].[USR]  WITH CHECK ADD  CONSTRAINT [FK_USR_APP] FOREIGN KEY([APP_ID])
REFERENCES [dbo].[APP] ([APP_ID])
GO
ALTER TABLE [dbo].[USR] CHECK CONSTRAINT [FK_USR_APP]
GO
/****** Object:  StoredProcedure [dbo].[spIncCreate]    Script Date: 13-12-2018 08:56:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[spIncCreate]

	@iConfigItemName	VARCHAR(10)		= NULL,
	@iIncSumry			VARCHAR(1000)	= NULL,
	@iIncDesc			VARCHAR(1000)	= NULL,
	@iPriority			CHAR(2)			= NULL
AS
BEGIN
	
	SET NOCOUNT ON; --Need Explanation

	-- Remap input parameters to local variables to avoid parameter siniffing
	DECLARE @ConfigItemName VARCHAR(10)		= ISNULL(@iConfigItemName, ''),
			@IncSumry		VARCHAR(1000)	= ISNULL(@iIncSumry, 'Please Update Incident Summary'),
			@IncDesc		VARCHAR(1000)	= ISNULL(@iIncDesc, 'Please Update Incident Summary'),
			@Priority		CHAR(2)			= ISNULL(@iPriority, 'P3'),
		    @QuryCnt		smallint,
			@ConfigItemID	smallint,
			@IncId			smallint,
			@PrtyId			smallint;

	-- Lookup for Configuration Item
	SELECT 
		@QuryCnt = COUNT(*)
	   ,@ConfigItemID = CONFIG_ITM_ID
	FROM 
		DBO.CONFIG_ITM
	WHERE 
		CONFIG_ITM_NAME = @ConfigItemName
	GROUP BY
		CONFIG_ITM_ID;
	
	-- Generate Incident Number
	SELECT @IncId = MAX(INC_ID) + 1 FROM DBO.INC_DTL;

	-- Get Priority Details for incident
	SELECT @PrtyID = PRTY_ID FROM DBO.INC_PRIORITY WHERE PRTY_CD = @Priority;

	IF @QuryCnt = 1 BEGIN
		
		INSERT INTO [dbo].[INC_DTL]
		       ([INC_ID]
		       ,[INC_SUMMARY]
		       ,[INC_DESC]
		       ,[INC_CREATED]
		       ,[INC_CLOSED]
		       ,[CONFIG_ITM_ID]
		       ,[USR_ID]
			   ,[GRP_ID]
		       ,[PRTY_ID]
		       ,[STS_ID]
		       ,[ACTIVE]
		       ,[ISSUE_CAT_ID]
		       ,[INC_RESOLUTION]
		       ,[INS_DT]
		       ,[UPD_TS])
		 VALUES
		       (@IncId
		       ,@IncSumry
		       ,@IncDesc
		       ,sysdatetime()
		       ,'9999-01-01 00:00:00.000'
		       ,@ConfigItemID
		       ,0
			   ,1
		       ,@PrtyID
		       ,1
		       ,'YES'
		       ,0
		       ,''
		       ,getdate()
		       ,sysdatetime());

				PRINT '********Incident created successfully for the issue********'
		END

		ELSE 
				PRINT '********Entered Configuration Item is Unknow********'
END
GO
USE [master]
GO
